body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blueviolet;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div{
  width: 100%;
  height: 100vh;
  justify-content: center;
  display: flex;
 flex-direction: column;
 align-items: center;
 

} 
h1{
  font-size: 30px;
  font-weight: bold;
}

input{
  border: 2px solid white;
  width: 350px;
  height: 25px;
  text-align: center;
}
button{
  border: 2px solid white;
  margin: 25px;
  width: 80px;
  height: 30px;
  font-weight: bold;
  text-transform: uppercase;

}